[submodule "catkin_ws/src/orb_slam_2_ros"]
	path = catkin_ws/src/orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros
[submodule "catkin_ws/src/ORB_SLAM2"]
	path = catkin_ws/src/ORB_SLAM2
	url = https://github.com/tonuonu/ORB_SLAM2
