[submodule "catkin_ws/src/rvizweb"]
	path = catkin_ws/src/rvizweb
	url = https://github.com/osrf/rvizweb
	branch = dev/use_turtlebot_in_examples
[submodule "catkin_ws/src/executive_smach_visualization"]
	path = catkin_ws/src/executive_smach_visualization
	url = https://github.com/ros-visualization/executive_smach_visualization
	branch = melodic-devel
[submodule "catkin_ws/src/mbf_tools"]
	path = catkin_ws/src/mbf_tools
	url = https://github.com/uos/mbf_tools
